:root {
  --primary-text-color: #434455;
  --primary-white-color: #fff;
  --action-color: #404bbf;
  --accent-color: #4d5ae5;
  --secondary-cloud-color: #f4f4fd;
  --secondary-dark-color: #2e2f42;
  --tansition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  max-width: 426px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ================COMPONENTS */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-bottom {
  color: var(--secondary-cloud-color);
}

.logo-top {
  color: var(--secondary-dark-color);
}

.content-title {
  margin-bottom: 72px;

  color: var(--secondary-dark-color);
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 0;
}

.item-title {
  margin-bottom: 8px;

  color: var(--secondary-dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.description-dark {
  color: var(--primary-text-color);
}

.description-light {
  color: var(--secondary-cloud-color);
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button.primary {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: none;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: background-color var(--tansition-dur-and-func);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--action-color);
}

.button.secondary {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  color: var(--accent-color);
  background-color: var(--secondary-cloud-color);
  transition: border-color var(--tansition-dur-and-func),
    box-shadow var(--tansition-dur-and-func),
    color var(--tansition-dur-and-func),
    background-color var(--tansition-dur-and-func);
}

.button.secondary:hover,
.button.secondary:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--primary-white-color);
  background-color: var(--action-color);
}

/* ================/COMPONENTS */

/* ================HEADER */

.header-menu {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: block;
  padding: 24px 0;
}

.menu-list {
  display: none;
}

.contacts {
  display: none;
}

.menu-open-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-open-btn-icon {
  stroke: var(--secondary-dark-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  padding: 24px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  transform: translateY(-100%);
  transition: transform var(--tansition-dur-and-func);
}

.mob-menu.is-open {
  transform: translateY(0);
}

.menu-close-button {
  margin-left: auto;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
}

.menu-close-btn-icon {
  fill: var(--secondary-dark-color);
}

.mob-menu-item {
  margin-bottom: 40px;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-color);
}

.mob-menu-link.current {
  color: var(--action-color);
}

.mob-menu-contacts {
  font-style: normal;
}

.mob-menu-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-tel-link {
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 424px) {
  .mob-menu-tel-link {
    font-size: 24px;
  }
}

.mob-menu-mail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-menu-soc-list {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.mob-menu-soc-item {
  width: 40px;
  height: 40px;
}

.mob-menu-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--secondary-cloud-color);
}
.mob-menu-soc-icon {
  fill: currentColor;
}
/* ================/HEADER */

/* ================HERO */
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;

  background-color: var(--secondary-dark-color);
  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob-1x.jpg);
  max-width: 768px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  max-width: 320px;
  margin: 0 auto 72px auto;

  color: var(--primary-white-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
/* ================/HERO */

/* ================FEATURES */

.features-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-item {
  display: flex;
  flex-direction: column;
}

.features-item-title {
  margin-bottom: 8px;

  text-align: center;
  color: var(--secondary-dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.features-description {
  font-weight: 500;
}

.features-wraper {
  display: none;
}

/* ================/FEATURES */

/* ================PRODUCT CONTENT */
.product-content {
  display: none;
}
/* ================/PRODUCT CONTENT */

/* ================TEAM CONTENT */
.team-content-container {
  max-width: 294px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-content {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--secondary-cloud-color);
}

.emloyees-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  text-align: center;
  background-color: var(--primary-white-color);
}

.employees-wrapper {
  padding: 32px 16px;
}

.employees-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.employees-soc-item {
  width: 40px;
  height: 40px;
}

.employees-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--secondary-cloud-color);
  transition: background-color var(--tansition-dur-and-func);
}

.employees-soc-icon {
  fill: currentColor;
}

.employees-soc-link:hover,
.employees-soc-link:focus {
  background-color: var(--action-color);
}
/* ================/TEAM CONTENT */

/* ================CUSTOMERS */
.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}

.customers-item {
  flex-basis: calc((100% - 1 * 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: color var(--tansition-dur-and-func),
    border-color var(--tansition-dur-and-func);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--action-color);
  border-color: var(--action-color);
}

/* ================/CUSTOMERS */

/* ================FOOTER */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--secondary-dark-color);
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 268px;
  margin: 0 auto;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-soc-description {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--primary-white-color);
}

.footer-soc-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-cloud-color);
  transition: background-color var(--tansition-dur-and-func);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-container-desc {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--primary-white-color);
  text-align: center;
}

.subscribe-form-label {
  width: 100%;
}

.subscribe-form-input {
  width: 100%;
  max-width: 398px;
  height: 40px;
  padding: 8px 16px;

  border: 1px solid var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  color: var(--primary-white-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: border var(--tansition-dur-and-func);
}

.subscribe-form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.subscribe-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  border: none;
  background: var(--accent-color);
  border-radius: 4px;
  color: var(--primary-white-color);

  transition: background-color var(--tansition-dur-and-func);
}

.subscribe-btn:focus,
.subscribe-btn:hover {
  background-color: var(--action-color);
}

.subscribe-btn-icon {
  fill: var(--primary-white-color);
  margin-left: 16px;
}
/* ================/FOOTER */

/* ================CONTENT */
.content {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* ================/CONTENT */

/* ================FILTER BUTTONS */
.filter-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
/* ================/FILTER BUTTONS */

/* ================PROJECT-LIST */
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translate(0, 0);
}

.project-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.project-link {
  display: block;
  transition: box-shadow var(--tansition-dur-and-func);
}

.project-img-wrapper {
  position: relative;
  overflow: hidden;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--tansition-dur-and-func);

  color: var(--secondary-cloud-color);
  padding: 40px 32px;
}
/* ================/PROJECT-LIST */

/* ================MODAL-WINDOW */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--tansition-dur-and-func),
    visibility var(--tansition-dur-and-func);
}

.modal {
  position: absolute;
  width: calc(100% - 30px);
  max-width: 392px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--tansition-dur-and-func);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color var(--tansition-dur-and-func),
    border var(--tansition-dur-and-func);
}

.modal-close-btn-icon {
  fill: var(--secondary-dark-color);
  transition: fill var(--tansition-dur-and-func);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--action-color);
  border: none;
}

.modal-close-button:hover .modal-close-btn-icon,
.modal-close-button:focus .modal-close-btn-icon {
  fill: var(--primary-white-color);
}

.modal-title {
  font-weight: 500;
  text-align: center;
  color: var(--secondary-dark-color);

  margin-bottom: 16px;
}
/* ================/MODAL-WINDOW */

/* ================MODAL-FORM */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-field {
  margin-bottom: 8px;
}

.input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--tansition-dur-and-func);
}

.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-input-wrapper {
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  display: block;
  fill: var(--secondary-dark-color);
  transition: fill var(--tansition-dur-and-func);
}

.modal-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-comment {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  transition: border-color var(--tansition-dur-and-func);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-check-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-check-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;

  transition: background-color var(--tansition-dur-and-func),
    border var(--tansition-dur-and-func), fill var(--tansition-dur-and-func);
}

.modal-check:checked + .modal-check-desc .modal-check-box {
  background-color: var(--action-color);
  border: none;
  fill: var(--secondary-cloud-color);
}

.modal-check-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}

.modal-form-submit {
  display: block;
  margin: 0 auto;

  min-width: 169px;
  height: 56px;
  left: 635px;
  top: 584px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  border: none;
  transition: background-color var(--tansition-dur-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--action-color);
}
/* ================/MODAL-FORM */
